{% extends 'webapp/base.html' %}
{% load static %}

{% block titulo %}Restablecer{% endblock titulo %}

{% block encabezado %}Cambiar Contraseña{% endblock encabezado %}

{% block contenedor %}
{% if validlink%}

<h1> Nueva contraseña </h1>
<form method="post">
    {% csrf_token%}

    {{ form.new_pasword1.errors }}
    <label for= "id_new_pasword1">Nueva contraseña: </label> 
    {{form.new_pasword1 }}

    {{ form.new_pasword2.errors }}
    <label for= "id_new_pasword2">Confirme contraseña: </label> 
    {{form.new_pasword2 }}

    <input type= "submit" value = "Restablecer contraseña" />

</form>

{% else%}
<h1 class= "text-center"> ENLACE INVALIDO: este enlace ya ha sido utilizado </h1>

{% endif %}
{% endblock contenedor %}