{% extends 'webapp/base.html' %}
{% load static %}

{% block titulo %}Restablecer{% endblock titulo %}

{% block encabezado %}Cambiar Contraseña{% endblock encabezado %}

{% block contenedor %}


<h1> Nueva contraseña </h1>
<div class="contact-from-section mb-150">
    <div class="container">
        <div class="formulario">

            <form method="post" action="{% url 'webapp:restablecer' %}" >
                {% csrf_token%}
                <input type=hidden  value= "{{id}}" name='id'>
                <br>
                 
                <p><label  id="exampleModalLabel"> Nueva contraseña:</label>
                    <input id="clav" name="clav" type="password" placeholder="clave" required>
                </p>

        

                <input type= "submit" value = "Restablecer contraseña" />
            
            </form>
        </div>
    </div>
</div>



{% endblock contenedor %}