{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>{% block titulo %}recuperar{% endblock titulo %}</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'webapp/assets/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'webapp/assets/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'webapp/assets/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'webapp/assets/favicon_io/site.webmanifest' %}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/all.min.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'webapp/assets/bootstrap/css/bootstrap.min.css' %}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/owl.carousel.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/magnific-popup.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/animate.css' %}">
    <!-- mean menu css -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/meanmenu.min.css' %}">
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/main.css' %}">
    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/responsive.css' %}">
    <!-- modals-->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/modals.css' %}">

</head>

<body>
    <!-- Letrero - Inicio -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="site-logo">
							<a href="{% url 'webapp:index' %}">
								<img src="{% static 'webapp/assets/img/logo.png' %}" alt="">
							</a>
						</div>
                    <div class="breadcrumb-text">
                        <p>GAMING MARKET</p>
                        <h1>Recuperación de contraseña</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Letrero - Final -->

    <!-- Recuadro para representar las alertas-->

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags != 'error' %}{{ message.tags }}{% elif message.tags == 'error' %}danger{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <br>

    <div class="contact-from-section mb-150">
        <!-- formulario para permitir el inicio de sesión
        Args:
            email (_type_): _correo del cliente_
            clave (_type_): _clave del cliente_
        Returns:
            _redirect_: _Redirección a pagina de inicio_
        
        -->
        <div class="contact-from-section mb-150" style="text-align: center;">
            <div class="container">
                <div class="formulario">
                    <form method="post" class="needs-validation" novalidate="" action= "{% url 'webapp:restablecer' %}">
                        {% csrf_token%}
                        <p>Email registrado
                            <input value="" name="correo" type="email" placeholder="Email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
                        </p>
                        <input type= "submit" value = "Enviar" />
        
                    </form>
                </div>
            </div>
        </div>
        

    <!-- jquery -->
    <script src="{% static 'webapp/assets/js/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'webapp/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- count down -->
    <script src="{% static 'webapp/assets/js/jquery.countdown.js' %}"></script>
    <!-- isotope -->
    <script src="{% static 'webapp/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
    <!-- waypoints -->
    <script src="{% static 'webapp/assets/js/waypoints.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'webapp/assets/js/owl.carousel.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'webapp/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- mean menu -->
    <script src="{% static 'webapp/assets/js/jquery.meanmenu.min.js' %}"></script>
    <!-- sticker js -->
    <script src="{% static 'webapp/assets/js/sticker.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'webapp/assets/js/main.js' %}"></script>
    <!-- BUSCADOR -->
    <script src="{% static 'webapp/assets/js/buscador.js' %}"></script>
</body>

</html>






