{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Formulario de Usuario{% endblock titulo %}

{% block encabezado %}Formulario{% endblock encabezado %}
{% block subencabezado %}Registro de usuario{% endblock subencabezado %}

{% block contenedor %}
<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <form action="{% url 'webapp:guardarUsuario' %}" class="needs-validation" novalidate="" method="post">{% csrf_token %}
            
            <div class="form-row">
                <div class="col">
                    <!-- Email Usuario -->
                    <label for="emailUsuario">Email</label>
                    <input name="email" type="email" class="form-control" placeholder="Ingrese su correo" required>
                </div>
                <div class="col">
                    <!-- Clave usuario -->
                    <label for="claveUsuario">Contraseña</label>
                    <input name="clave" type="password" class="form-control" placeholder="Ingrese contraseña" required>
                </div>
            </div>
            <br/>

            <!-- Nombre del cliente -->
            <div class="form-row">
                <div class="col">
                    <label for="nombreCliente">Nombre del cliente</label>
                    <input name="nombre" type="text" class="form-control" placeholder="Nombres" required>
                </div>
                <!-- Apellidos del empleado -->
                <div class="col">
                    <label for="apellidosCliente">Apellidos del cliente</label>
                    <input name="apellido" type="text" class="form-control" placeholder="Apellidos" required>
                </div>
            </div>
            <br/>

            <div class="form-row">
                <!-- Fecha de nacimiento del empleado -->
                <div class="col">
                    <label for="nacimientoCliente">Fecha de nacimiento del empleado</label>
                    <input name="fecha_nacimiento" type="date" class="form-control" placeholder="Nacimiento" required>
                </div>
                <div class="col">
                    <label for="usuarioEmpleado" >Telefono</label>
                    <input type="number" name="telefono" class="form-control" placeholder="">
                       
                </div>
            </div>  

            <br/>
            <!-- Botón del enviar formulario-->
            <div class="form-btns">
                <button type="submit">Enviar formulario</button>
                <button type="reset">Limpiar formulario</button>
            </div>
        </form>
    </div>
</div>
{% endblock contenedor %}