{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Lista de Usuarios{% endblock titulo %}

{% block encabezado %}Listado{% endblock encabezado %}
{% block subencabezado %}Lista de Usuarios{% endblock subencabezado %}

{% block contenedor %}

{% if usuarios %}
<div class="listar-generos-juegos mt-150 mb-150">
    <div class="contenedor">
        <h3>Listado de Usuarios</h3>
		<br/>
        <div class="table-responsive">
            <table id="lista" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>fecha de nacimiento</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td> {{usuario.id}} </td>
                        <td> {{usuario.email}} </td>
                        <td> {{usuario.get_rol_display}} </td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellido}}</td>
                        <td>{{usuario.telefono}}</td>
                        <td>{{usuario.fecha_nacimiento}}</td>
                        <td>
                            <a href="" class="btn btn-info">Editar</a>
                            <a href="../eliminarUsuario/{{usuario.id}}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
No hay datos
{% endif %}

{% endblock contenedor %}