{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Actualizando Empleado{% endblock titulo %}

{% block encabezado %}Edición{% endblock encabezado %}
{% block subencabezado %}Actualizando Empleado{% endblock subencabezado %}
{% block agregarUrl %}{% url 'webapp:formularioUsuarioEmpleado' %}{% endblock agregarUrl %}
{% block btnTitulo %}Agregar empleado{% endblock btnTitulo %}

{% block contenedor %}
<br>
<div class="contact-from-section mb-150">
    <div class="container">
        <div class="formulario">
            <form action="{% url 'webapp:editarUsuarioEmpleado' %}" class="needs-validation" novalidate="" method="post">{% csrf_token %}
                <input value="{{usuario.id}}" readonly name="id" type="hidden" required>
                <p>Nombres del empleado
                    <input value="{{usuario.nombre}}" name="nombre" type="text" placeholder="Nombres" required>
                </p>
                <p>Apellidos del empleado
                    <input value="{{usuario.apellido}}" name="apellido" type="text" placeholder="Apellidos" required>
                </p>
                <p>Fecha de nacimiento
                    <input value="{{usuario.fecha_nacimiento|date:'Y-m-d'}}" name="fecha_nacimiento" type="date" required>
                </p>
                <p>Teléfono de contacto
                    <input value="{{usuario.telefono}}" name="telefono" type="number" placeholder="Número" min="0" oninput="validity.valid||(value='');" required>
                </p>
                <p>Email del empleado
                    <input value="{{usuario.email}}" name="email" type="email" placeholder="Email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
                </p> 
                <br/>
                <!-- Botón del enviar formulario-->
                <div class="form-btns">
                    <button type="submit">Enviar formulario</button>
                    <button type="reset">Limpiar formulario</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
{% endblock contenedor %}