{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Actualizando Cliente{% endblock titulo %}

{% block encabezado %}Edición{% endblock encabezado %}
{% block subencabezado %}Actualizando Cliente{% endblock subencabezado %}
{% block agregarUrl %}{% url 'webapp:formularioEditarCliente' %}{% endblock agregarUrl %}
{% block btnTitulo %}Agregar Cliente{% endblock btnTitulo %}

{% block contenedor %}

{% if request.session.logueo %}
{% if request.session.logueo.4 == 'Administrador' %}
<br>
<div class="contact-from-section mb-150">
    <div class="container">
        <div class="formulario">
            <form action="{% url 'webapp:formularioEditarCliente' %}" class="needs-validation" novalidate="" method="post">{% csrf_token %}
                <input value="{{usuario.id}}" readonly name="id" type="hidden" required>
                <p>Nombres del cliente
                    <input value="{{usuario.nombre}}" name="nombre" type="text" placeholder="Nombres" required>
                </p>
                <p>Apellidos del cliente
                    <input value="{{usuario.apellido}}" name="apellido" type="text" placeholder="Apellidos" required>
                </p>
                <p>Fecha de nacimiento
                    <input value="{{usuario.fecha_nacimiento|date:'Y-m-d'}}" name="fecha_nacimiento" type="date" required>
                </p>
                <p>Teléfono de contacto
                    <input value="{{usuario.telefono}}" name="telefono" type="number" placeholder="Número" min="0" oninput="validity.valid||(value='');" required>
                </p>
                <p>Email del cliente
                    <input value="{{usuario.email}}" name="email" type="email" placeholder="Email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" disabled>
                </p> 
                <br>
                <label for="habilitadoCliente">Estado</label>
                <br>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="estado" {% if usuario.habilitado %} checked {% endif %} value="True">Habilitar
                        </label>
                        </div>
                        <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="estado" {% if not usuario.habilitado %} checked {% endif %}value="False">Deshabilitar
                        </label>
                    </div>
                    <br>
                <br/>
                <!-- Botón del enviar formulario-->
                <div class="form-btns">
                    <button type="reset">Limpiar formulario</button>
                    <button type="submit">Enviar formulario</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
{% endif %}
{% endif %}
{% endblock contenedor %}