{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Formulario de Rol{% endblock titulo %}

{% block encabezado %}Formulario{% endblock encabezado %}
{% block subencabezado %}Registro de rol{% endblock subencabezado %}

{% block contenedor %}
<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <form action="{% url 'webapp:guardarRol' %}" class="needs-validation" novalidate="" method="post">{% csrf_token %}
            <div class="form-group">
                <!-- Nombre del rol -->
                <label for="nombrePermiso">Nombre del rol</label>
                <input name="nombre" type="text" class="form-control" placeholder="Nombre del rol" required>
            </div>
            <div class="form-group">
                <label for="permisoRol">Permisos del rol</label>
                <br>
                {% for permiso in permisos %}
                    <input type="checkbox" name="permisos" id="option{{permiso.id}}" value={{permiso.id}} />
                    <label for="option{{permiso.id}}"><b>{{permiso.nombre}}</b></label><br />
                {% endfor %}
            </div>
            <br/>
            <!-- Botón del enviar formulario-->
            <div class="form-btns">
                <button type="submit">Enviar formulario</button>
                <button type="reset">Limpiar formulario</button>
            </div>
        </form>
    </div>
</div>
{% endblock contenedor %}