{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Actualizando Género{% endblock titulo %}

{% block encabezado %}Edición{% endblock encabezado %}
{% block subencabezado %}Actualizando Género{% endblock subencabezado %}
{% block agregarUrl %}{% url 'webapp:formularioGenero' %}{% endblock agregarUrl %}
{% block btnTitulo %}Agregar género{% endblock btnTitulo %}

{% block contenedor %}
<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <form action="{% url 'webapp:editarGenero' %}" class="needs-validation" novalidate="" method="post">{% csrf_token %}
            <div class="form-group">
                <label for="idGenero">ID</label>
                <input value="{{genero.id}}" readonly name="id" type="text" class="form-control" placeholder="ID" required>
            </div>
            <div class="form-group">
                <label for="nombreGenero">Nombre del género del juego</label>
                <input value="{{genero.nombre}}" name="nombre" type="text" class="form-control" placeholder="Nombre" required>
            </div>
            <br/>
            <!-- Botón del enviar formulario-->
            <div class="form-btns">
                <button type="submit">Enviar formulario</button>
                <button type="reset">Limpiar formulario</button>
            </div>
        </form>
    </div>
</div>
{% endblock contenedor %}