{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Nuevo Proveedor{% endblock titulo %}

{% block encabezado %}Formulario{% endblock encabezado %}
{% block subencabezado %}Nuevo Género{% endblock subencabezado %}
{% block agregarUrl %}{% url 'webapp:formularioGenero' %}{% endblock agregarUrl %}
{% block btnTitulo %}Agregar género{% endblock btnTitulo %}

{% block contenedor %}
<br>
<div class="contact-from-section mb-150">
    <div class="container">
        <div class="formulario">
            <form action="{% url 'webapp:guardarGenero' %}" class="needs-validation" novalidate="" method="post">{% csrf_token %}
                <p>Nombre del género
                    <input name="nombre" type="text" placeholder="Ingrese el nombre" required>
                </p>
                <!-- Botón del enviar formulario-->
                <div class="form-btns">
                    <button type="submit">Enviar formulario</button>
                    <button type="reset">Limpiar formulario</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contenedor %}