{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>{% block titulo %}CRUD{% endblock titulo %}</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'webapp/assets/img/favicon.png' %}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/all.min.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'webapp/assets/bootstrap/css/bootstrap.min.css' %}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/owl.carousel.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/magnific-popup.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/animate.css' %}">
    <!-- mean menu css -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/meanmenu.min.css' %}">
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/main.css' %}">
    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/responsive.css' %}">
    <!-- modals-->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/modals.css' %}">
</head>

<body>
    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="index.html">
                                <img src="assets/img/logo.png" alt="">
                            </a>
                        </div>
                        <!-- logo -->

                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li><a href="index.html">Inicio</a></li>
                                <li><a href="nosotros.html">Nosotros</a></li>

                                <!--
                                <li><a href="#">Juegos</a>
                                    <ul class="sub-menu">
                                        <li><a href="registrar-juego.html">Registrar Juego</a></li>
                                        <li><a href="listar-juegos.html">Listar Juegos</a></li>
                                        <hr/>
                                        <li><a href="registrar-genero-juego.html">Registrar Género de Juego</a></li>
                                        <li><a href="listar-generos-juegos.html">Listar Géneros de Juegos</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Usuarios</a>
                                    <ul class="sub-menu">
                                        <li>Empleados</li>
                                        <li><a href="registrar-empleado.html">Registrar Empleado</a></li>
                                        <li><a href="listar-empleados.html">Listar Empleados</a></li>
                                        <hr/>
                                        <li>Clientes</li>
                                        <li><a href="sign-up.html">Registrar Cliente</a></li>
                                        <li><a href="listar-clientes.html">Listar Clientes</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Ingresos/Egresos</a>
                                    <ul class="sub-menu">
                                        <li>Ventas</li>
                                        <li><a href="registrar-venta.html">Registrar Venta</a></li>
                                        <li><a href="listar-empleados.html">Listar Ventas</a></li>
                                        <hr/>
                                        <li>Compras</li>
                                        <li><a href="registrar-compra.html">Registrar Compra</a></li>
                                        <li><a href="listar-compra.html">Listar Compras</a></li>
                                        <hr/>
                                        <li>Facturas</li>
                                        <li><a href="registrar-factura.html">Registrar Factura</a></li>
                                        <li><a href="listar-facturas.html">Listar Factura</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Proveedores</a>
                                    <ul class="sub-menu">
                                        <li><a href="registrar-proveedor.html">Registrar Proveedor</a></li>
                                        <li><a href="listar-proveedores.html">Listar Proveedores</a></li>
                                    </ul>
                                
                                </li>
                                -->
                                
                                
                                <li>
                                    {% if not request.session.logueo %}
                                    <div class="header-icons">
                                        <!--
                                        <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                                        -->
                                        <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                        <a class="user" href=""><i class="fas fa-user"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#" data-toggle="modal" data-target="#loginModal">Ingresar</a></li>
                                            <li><a href="sign-up.html">Registrarse</a></li>
                                        </ul>
                                    </div>
                                    {% else %}
                                    <a class="user" href=""><i class="fas fa-user"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'webapp:logout' %}">Cerrar sesión</a></li>
                                    </ul>
                                    {% endif %}
                                </li>
                                
                                
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->

    {% block contenedor %}{% endblock contenedor %}

	<!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">Acerca de nosotros</h2>
                        <p>Somos una nueva compañía conformada por la gente más capacitada para traer los mejores juegos de consolas a nuestros clientes.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Ponte en contacto</h2>
                        <ul>
                            <li>Complejo Ruta N Calle 67 52-20 Piso 2 Torre A, Medellín, Antioquia</li>
                            <li>soporte@instantgamers.com</li>
                            <li>+57 313 679 3126</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Páginas</h2>
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            
                            <!--
                            <li><a href="services.html">Juegos</a></li>
                            <li><a href="news.html">Usuarios</a></li>
                            <li><a href="contact.html">Ingresos/Egresos</a></li>
                            <li><a href="contact.html">Proveedores</a></li>
                            -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Suscríbete</h2>
                        <p>Suscríbete para estar al tanto de las novedades en la tienda</p>
                        <form action="index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->

    <!-- jquery -->
    <script src="{% static 'webapp/assets/js/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'webapp/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- count down -->
    <script src="{% static 'webapp/assets/js/jquery.countdown.js' %}"></script>
    <!-- isotope -->
    <script src="{% static 'webapp/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
    <!-- waypoints -->
    <script src="{% static 'webapp/assets/js/waypoints.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'webapp/assets/js/owl.carousel.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'webapp/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- mean menu -->
    <script src="{% static 'webapp/assets/js/jquery.meanmenu.min.js' %}"></script>
    <!-- sticker js -->
    <script src="{% static 'webapp/assets/js/sticker.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'webapp/assets/js/main.js' %}"></script>
    <!-- MODAL LOGIN -->
    <script src="{% static 'webapp/assets/js/modal-login.js' %}"></script>
</body>

</html>