{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>{% block titulo %}Titulo{% endblock titulo %}</title>

    <!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'webapp/assets/favicon_io/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'webapp/assets/favicon_io/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'webapp/assets/favicon_io/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'webapp/assets/favicon_io/site.webmanifest' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'webapp/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'webapp/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'webapp/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'webapp/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'webapp/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'webapp/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'webapp/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'webapp/assets/css/responsive.css' %}">
</head>

<body>
    <!-- BARRA DE NAVEGACIÓN - INICIO -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'webapp:index' %}">
								<img src="{% static 'webapp/assets/img/logo.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
                                <li>
                                    <a href="{% url 'webapp:index' %}">Inicio</a>
                                </li>
								<li><a href="{% url 'webapp:tienda' %}">Juegos</a></li>
								<li>
									
									<div class="header-icons">
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
										{% if not request.session.logueoCliente %}
										<a href="" data-toggle="modal" data-target="#loginModal">Ingresar</a>
										<a href="{% url 'webapp:signup' %}">Registrarse</a>
										{% else %}
										<a class="shopping-cart" href="{% url 'webapp:verCarrito' %}"><i class="fas fa-shopping-cart"></i></a>
										<a class="user" href=""><i class="fas fa-user"></i></a>
                                    	<ul class="sub-menu">
											<li><a href="">Mi perfil</a></li>
                                        	<li><a href="{% url 'webapp:logout' %}">Cerrar sesión</a></li>
                                    	</ul>
										{% endif %}
									</div>
								</li>
							</ul>
						</nav>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BARRA DE NAVEGACIÓN - FIN  -->

    <!-- MODAL LOGIN - INICIO -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-title text-center">
                        <h2>Logueate</h2>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <form action="{% url 'webapp:login' %}" method="post">{% csrf_token %}
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" id="email" placeholder="Tu correo...">
                            </div>
                            <div class="form-group">
                                <input type="password" name="clave" class="form-control" id="clave" placeholder="Tu contraseña...">
                            </div>
                            <div class="form-btns">
								<button type="submit">Enviar formulario</button>
							</div>
							
                        </form>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
					<div class="registrarse-link">
						<p>¿Aún no tienes cuenta? <a href="{% url 'webapp:signup' %}">Registrate aquí</a></p>
					</div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL LOGIN - FIN -->

    <!-- BARRA DE BUSQUEDA - INICIO -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BARRA DE BUSQUEDA - FIN -->

    {% block contenedor %}{% endblock contenedor %}

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Nosotros</h2>
						<p>Gaming Market es una compañía que ofrece juegos de computador al mejor precio.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Páginas</h2>
						<ul>
							<li><a href="{% url 'webapp:index' %}">Inicio</a></li>
							<li><a href="{% url 'webapp:tienda' %}">Juegos</a></li>
							{% if not request.session.logueoCliente %}
							<li><a href="{% url 'webapp:signup' %}">Registrarse</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

    <!-- jquery -->
	<script src="{% static 'webapp/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'webapp/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'webapp/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'webapp/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'webapp/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'webapp/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'webapp/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'webapp/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'webapp/assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'webapp/assets/js/main.js' %}"></script>
</body>

</html>