{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>{% block titulo %}CRUD{% endblock titulo %}</title>

    <!-- favicon -->
	<link rel="icon" type="image/png" href="{% static 'webapp/assets/favicon_io/favicon.png' %}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/all.min.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'webapp/assets/bootstrap/css/bootstrap.min.css' %}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/owl.carousel.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/magnific-popup.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/animate.css' %}">
    <!-- mean menu css -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/meanmenu.min.css' %}">
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/main.css' %}">
    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/responsive.css' %}">
    <!-- modals-->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/modals.css' %}">

</head>
<body>
	<!-- Encabezado - Inicio -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- Logo - Inicio -->
						<div class="site-logo">
							<a href="{% url  'webapp:index' %}">
								<img src="{% static 'webapp/assets/img/logo.png' %}" alt="">
							</a>
						</div>
						<!-- Logo - Final -->

						<!-- Navbar - Inicio -->
						<nav class="main-menu">
							<ul>
								<li>
                                    <a href="{% url 'webapp:listarProveedores' %}">Proveedores</a>
                                </li>
								<li>
                                    <a href="{% url 'webapp:listarGeneros' %}">Generos</a>
                                </li>
								<li>
                                    <a href="{% url 'webapp:listarJuegos' %}">Juegos</a>
                                </li>
								{% if request.session.logueo.4 == 'Administrador' %}
								<li>
                                    <a href="{% url 'webapp:listarEmpleados' %}">Empleados</a>
                                </li>
								<li>
                                    <a href="{% url 'webapp:listarClientes' %}">Clientes</a>
                                </li>
								<li>
                                    <a href="{% url 'webapp:ventasJuegos' %}">Graficos</a>
									<ul class="sub-menu">
										<li><a href="{% url 'webapp:ventasJuegos' %}">Relación de ventas</a></li>
										<li><a href="{% url 'webapp:cantidadVentas' %}">Cantidad ventas</a></li>
									</ul>

                                </li>

								
								{% endif %}					
								<li>
                                    <div class="header-icons">
										{% if request.session.logueo %}
										<a href="{% url 'webapp:logoutCrud' %}">Salir</a>
										{% else %}
										<a href="{% url 'webapp:loginEmpleados' %}">Iniciar sesión</a>
										{% endif %}
                                    </div>
                                </li>
							</ul>
						</nav>
						<!-- Navbar - Final -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Encabezado - Final -->
	
	<!-- Letrero - Inicio -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>{% block encabezado %}Encabezado{% endblock encabezado %}</p>
						<h1>{% block subencabezado %}Subencabezado{% endblock subencabezado %}</h1>
						<div class="hero-btns">
							<a href="{% block agregarUrl %}{% endblock agregarUrl %}" class="boxed-btn">{% block btnTitulo %}{% endblock btnTitulo %}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Letrero - Final -->
	{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags != 'error' %}{{ message.tags }}{% elif message.tags == 'error' %}danger{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

	<!-- Registro - Inicio -->
	{% block contenedor %}{% endblock contenedor %}
	<!-- Registro - Final -->
	
	<!-- jquery -->
    <script src="{% static 'webapp/assets/js/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'webapp/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- count down -->
    <script src="{% static 'webapp/assets/js/jquery.countdown.js' %}"></script>
    <!-- isotope -->
    <script src="{% static 'webapp/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
    <!-- waypoints -->
    <script src="{% static 'webapp/assets/js/waypoints.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'webapp/assets/js/owl.carousel.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'webapp/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- mean menu -->
    <script src="{% static 'webapp/assets/js/jquery.meanmenu.min.js' %}"></script>
    <!-- sticker js -->
    <script src="{% static 'webapp/assets/js/sticker.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'webapp/assets/js/main.js' %}"></script>
	<!-- BUSCADOR -->
	<script src="{% static 'webapp/assets/js/buscador.js' %}"></script>
</body>
</html>