{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Lista de Clientes{% endblock titulo %}

{% block encabezado %}Listado{% endblock encabezado %}
{% block subencabezado %}Lista de Clientes{% endblock subencabezado %}

{% block contenedor %}

{% if clientes %}
<div class="listar-generos-juegos mt-150 mb-150">
    <div class="contenedor">
        <h3>Listado de Clientes</h3>
		<br/>
        <div class="table-responsive">
            <table id="lista" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Nacimiento</th>
                        <th>Usuario</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td> {{cliente.id}} </td>
                        <td> {{cliente.nombre}} </td>
                        <td> {{cliente.apellido}} </td>
                        <td> {{cliente.fecha_nacimiento}} </td>
                        <td> {{cliente.id_usuario}} </td>
                        <td>
                            <a href="" class="btn btn-info">Editar</a>
                            <a href="../eliminarUsuario/{{usuario.id}}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="?page=1">&laquo;</a></li>
                        <li><a {% if clientes.has_previous %} href="?page={{ clientes.previous_page_number }}" {% endif %}>Anterior</a></li>

                        {% for i in "x"|rjust:clientes.paginator.num_pages|make_list %}
                        <li><a {% if forloop.counter == clientes.number %} class="active" {% endif %} href="?page={{ forloop.counter }}"> {{ forloop.counter }} </a></li>
                        {% endfor %}

                        <li><a {% if clientes.has_next %} href="?page={{clientes.next_page_number }}" {% endif %}>Siguiente</a></li>
                        <li><a {% if clientes.has_next %} href="?page={{clientes.paginator.num_pages }}" {% endif %}>&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
No hay datos
{% endif %}

{% endblock contenedor %}