{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Formulario de Venta{% endblock titulo %}

{% block encabezado %}Formulario{% endblock encabezado %}
{% block subencabezado %}Registro de Venta{% endblock subencabezado %}

{% block contenedor %}
<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <form action="{% url 'webapp:guardarVenta' %}" class="needs-validation" novalidate="" method="post">{% csrf_token %}
            <br/>
            <div class="form-row">
                <div class="col">
                    <label for="totalVenta">Total de la venta</label>
                    <input name="total" type="number" class="form-control" placeholder="Total" required>
                </div>
                <div class="col">
                    <label for="clienteVenta">Cliente</label>
                    <select name="cliente" class="form-control" id="usuarioEmpleado" required>
                        <option disabled selected value>- Elija un cliente -</option>
                        {% for cliente in clientes %}
                            <option value="{{cliente.id}}">{{cliente.id}} - {{cliente.nombre}} {{cliente.apellido}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br/>
            <!-- Botón del enviar formulario-->
            <div class="form-btns">
                <button type="submit">Enviar formulario</button>
                <button type="reset">Limpiar formulario</button>
            </div>
        </form>
    </div>
</div>
{% endblock contenedor %}