{% extends 'webapp/base.html' %}
{% load static %}

{% block titulo %}404 Página no encontrada{% endblock titulo %}

{% block contenedor %}
<!-- Letrero - Inicio -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>ERROR:</p>
                    <h1>404 - No encontrado</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Letrero - Final -->


<!-- error section -->
<div class="full-height-section error-section">
	<div class="full-height-tablecell">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="error-text">
						<i class="far fa-sad-cry"></i>
						<h1>¡Oops! Página no encontrada</h1>
						<p>La página que has solicitado no ha sido encontrada</p>
						<a href="{% url 'webapp:index' %}" class="boxed-btn">Volver al inicio</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end error section -->
{% endblock contenedor %}