{% extends 'webapp/base.html' %}
{% load static %}

{% block titulo %}Carrito{% endblock titulo %}

{% block contenedor %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>¿No se te olvida algo?</p>
					<h1>Carrito</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->



<!-- cart -->
<br>
<div class="cart-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="cart-table-wrap">
					<table class="cart-table">
						<thead class="cart-table-head">
							<tr class="table-head-row">
								<th class="product-remove"></th>
								<th class="product-image">Imágen</th>
								<th class="product-name">Título</th>
								<th class="product-price">Cantidad</th>
								<th class="product-price">Precio</th>
							</tr>
						</thead>
						<tbody>
							{% if request.session.carrito.items %}
  								{% for key, value in request.session.carrito.items %}
								<tr class="table-body-row">
									<td class="product-remove"><a href="{% url 'webapp:restarJuego' value.juegoId %}"><i class="far fa-window-close"></i></a></td>
									<!--<td class="product-image"><img src="{{value.imagen.url}}"></td>-->
									<td class="product-name">{{value.titulo}}</td>
									<td class="product-cant">{{value.cantidad|floatformat:"0g"}}
										<a href="{% url 'webapp:agregarAlCarrito' value.juegoId %}" class="badge btn btn-dark badge-dark">+</a>
        								<a href="{% url 'webapp:restarJuego' value.juegoId %}" class="badge btn btn-dark badge-dark">-</a>
									</td>
									<td class="product-price">${{value.precio|floatformat:"0g"}}</td>
									
								</tr>
								{% endfor %}
							<tr>
								<td colspan="3">Total</td>
								<td>${{totalCarrito|floatformat:"0g"}}</td>
							</tr>
							
						</tbody>
					</table>
					<div class="cart-buttons">
						<a href="{% url 'webapp:vaciar' %}" class="boxed-btn black">vaciar</a>
						<a href="{% url 'webapp:checkout' %}" class="boxed-btn black">Comprar ahora</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<!-- end cart -->
{% else %}
<!-- error section -->
<div class="full-height-section error-section">
	<div class="full-height-tablecell">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="error-text">
						<i class="far fa-sad-cry"></i>
						<h1>¡Oops! No hay juegos en el carrito</h1>
						<p>Al parecer aún no has decidido qué juegos añadir al carrito. Dale un vistazo a la tienda:</p>
						<a href="{% url 'webapp:tienda' %}" class="boxed-btn">Ir a la tienda</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end error section -->


{% endif %}

{% endblock contenedor %}