{% extends 'webapp/base.html' %}
{% load static %}

{% block titulo %}Gaming Market{% endblock titulo %}

{% block contenedor %}
	<!-- CARRUSEL - INICIO -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Bueno, bonito y barato</p>
								<h1>Disfruta de los mejores precios</h1>
								<div class="hero-btns">
									<a href="{% url 'webapp:tienda' %}" class="boxed-btn">Ir a los juegos</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Nuevos juegos</p>
								<h1>Disfruta de lo nuevo</h1>
								<div class="hero-btns">
									<a href="{% url 'webapp:tienda' %}" class="boxed-btn">Visitar la tienda</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Adquiere lo nuevo</p>
								<h1>Juega con tus amigos</h1>
								<div class="hero-btns">
									<a href="{% url 'webapp:tienda' %}" class="boxed-btn">Ver juegos</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- CARRUSEL - FIN -->

	<!-- ULTIMOS JUEGOS AGREGADOS - INICIO -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Nuevos</span> Juegos</h3>
						<p>Conoce los últimos juegos que hemos agregado. Estamos seguros de que te gustarán</p>
					</div>
				</div>
			</div>

			<div class="row">
				{% for juego in juegos %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'webapp:producto' juego.id %}"><img src="{{juego.imagen.url}}" alt=""></a>
						</div>
						<h3> {{juego.titulo}}</h3>
						<p class="product-price"><span>Precio</span> ${{juego.precio|floatformat:"0g"}} </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- ULTIMOS JUEGOS AGREGADOS - FIN -->

	
	
	<!-- advertisement section -->
	<!--
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since Year 1999</p>
						<h2>We are <span class="orange-text">Fruitkha</span></h2>
						<p>Etiam vulputate ut augue vel sodales. In sollicitudin neque et massa porttitor vestibulum ac vel nisi. Vestibulum placerat eget dolor sit amet posuere. In ut dolor aliquet, aliquet sapien sed, interdum velit. Nam eu molestie lorem.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente facilis illo repellat veritatis minus, et labore minima mollitia qui ducimus.</p>
						<a href="about.html" class="boxed-btn mt-4">know more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	<!-- end advertisement section -->

	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3>Nuevos juegos <br> llegan en <span class="orange-text">Diciembre!</span></h3>
            <div class="sale-percent"><span>Mira la tienda y descubre nuevos juegos</span></div>
            <a href="{% url 'webapp:tienda' %}" class="cart-btn btn-lg">Ir Ahora</a>
        </div>
    </section>
	<!-- end shop banner -->
{% endblock contenedor %}