{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Nuevo Género{% endblock titulo %}

{% block encabezado %}Formulario{% endblock encabezado %}
{% block subencabezado %}Nuevo Proveedor{% endblock subencabezado %}
{% block agregarUrl %}{% url 'webapp:formularioProveedor' %}{% endblock agregarUrl %}
{% block btnTitulo %}Agregar proveedor{% endblock btnTitulo %}

{% block contenedor %}
<br>
<div class="contact-from-section mb-100">
    <div class="container">
        <div class="formulario">
            <form action="{% url 'webapp:guardarProveedor' %}" class="needs-validation" novalidate="" method="post">{% csrf_token %}
                <p>Nombre completo del proveedor
                    <input name="nombre" type="text" placeholder="Ingrese el nombre" required>
                </p>
                <p>Email del proveedor
                    <input name="email" type="email" placeholder="Ingrese el email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
                </p>
                <p>Número de contacto del proveedor
                    <input name="telefono" type="number" placeholder="Ingrese el número telefónico" min="0" oninput="validity.valid||(value='');" required>
                </p>
                <div class="form-btns">
                    <button type="submit">Enviar formulario</button>
                    <button type="reset">Limpiar formulario</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
{% endblock contenedor %}