{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Mi Perfil{% endblock titulo %}

{% block encabezado %}Perfil{% endblock encabezado %}
{% block subencabezado %} {{request.session.logueo.1}} {% endblock subencabezado %}



{% block contenedor %}

{% if request.session.logueo %}
{% if request.session.logueo.4 == 'C' %}
<br>
<div class="contact-from-section mb-150">
    <div class="container">
        <div class="formulario">
            
                
                <p>Nombres 
                    <input value="{{request.session.logueo.1}}" name="nombre" type="text" placeholder="Nombres" required>
                </p>
                <p>Apellidos 
                    <input value="{{request.session.logueo.2}}" name="apellido" type="text" placeholder="Apellidos" required>
                </p>
                <p>Fecha de nacimiento
                    <input value="{{cliente.fecha_nacimiento|date:'Y-m-d'}}" name="fecha_nacimiento" type="date" required>
                </p>
                <p>Teléfono de contacto
                    <input value="{{cliente.telefono}}" name="telefono" type="number" placeholder="Número" min="0" oninput="validity.valid||(value='');" required>
                </p>
                <p>Email 
                    <input value="{{request.session.logueo.3}}" name="email" type="email" placeholder="Email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
                </p> 
                <br/>
                <!-- Botón del enviar formulario-->
                <div class="form-btns">
                    <button type="submit">Enviar formulario</button>
                    <button type="reset">Limpiar formulario</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
{% endif %}
{% endif %}
{% endblock contenedor %}