{% extends 'webapp/base.html' %}
{% load static %}

{% block titulo %}Mi Perfil{% endblock titulo %}

{% block encabezado %}Perfil{% endblock encabezado %}
{% block subencabezado %} {{request.session.logueo.1}} {% endblock subencabezado %}



{% block contenedor %}

<!-- Letrero - Inicio -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Tu perfil</p>
                    <h1>{{request.session.logueoCliente.1}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Letrero - Final -->

{% if request.session.logueoCliente %}
{% if request.session.logueoCliente.4 == 'Cliente' %}
<br>
<div class="contact-from-section mb-150">
    <div class="container">
        <div class="formulario">
            <form action="{% url 'webapp:editarUsuarioCliente' %}" class="needs-validation" enctype="multipart/form-data" method="post">{% csrf_token %}

                <p>Nombres
                    <input value="{{cliente.nombre}}" name="nombre" type="text" placeholder="Nombres"
                        required>
                </p>
                <p>Apellidos
                    <input value="{{cliente.apellido}}" name="apellido" type="text" placeholder="Apellidos"
                        required>
                </p>
                <p>Fecha de nacimiento
                    <input value="{{cliente.fecha_nacimiento|date:'Y-m-d'}}" name="fecha_nacimiento" type="date"
                        required>
                </p>
                <p>Email
                    <input value="{{cliente.email}}" name="email" type="email" placeholder="Email"
                        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
                </p>
                <br />
                <!-- Botón del enviar formulario-->
                <div class="form-btns">
                    <button type="submit">Enviar formulario</button>
                    <button type="reset">Limpiar formulario</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% else %}
<br>
<h3>No puede cambiar sus datos. Su rol no se lo permite</h3>
<br>
{% endif %}
{% else %}
CONDICIONAL EXTERNA
{% endif %}
{% endblock contenedor %}