{% extends 'webapp/base-crud.html' %}
{% load static %}

{% block titulo %}Actualizando Juego{% endblock titulo %}

{% block encabezado %}Edición{% endblock encabezado %}
{% block subencabezado %}Actualizando Juego{% endblock subencabezado %}
{% block agregarUrl %}{% url 'webapp:formularioJuego' %}{% endblock agregarUrl %}
{% block btnTitulo %}Agregar juego{% endblock btnTitulo %}

{% block contenedor %}
<br>
<div class="contact-from-section mb-150">
    <div class="container">
        <div class="formulario">
            <form action="{% url 'webapp:editarJuego' %}" class="needs-validation" novalidate="" method="post">{% csrf_token %}
                <input value="{{juego.id}}" readonly name="id" type="hidden" class="form-control" placeholder="ID" required>
                <p>Título del juego
                    <input value="{{juego.titulo}}" name="titulo" type="text" placeholder="Título" required>
                </p>
                <p>Fecha de lanzamiento
                    <input value="{{juego.fecha_lanzamiento|date:'Y-m-d'}}" name="fecha_lanzamiento" type="date" required>
                </p>
                <p>Desarrollador del juego
                    <input value="{{juego.desarrollador}}" name="desarrollador" type="text" placeholder="Desarrollador" required>
                </p>
                <p>Editor del juego
                    <input value="{{juego.editor}}" name="editor" type="text" placeholder="Editor" required>
                </p>
                <p>Descripción del juego
                    <textarea name="descripcion" cols="30" rows="10" placeholder="Descripción">{{juego.descripcion}}</textarea>
                </p>
                <strong><span> - actual: {{juego.imagen}}</span></strong>
                <p>Imágen del juego
                    <input type="file" name="imagen" accept="image/*">
                </p>
                <p>Precio de venta del juego
                    <input value="{{juego.precio|floatformat}}" type="number" name="precio" placeholder="Precio" min="0" oninput="validity.valid||(value='');">
                </p>
                <p>Stock del juego
                    <input value="{{juego.stock}}" type="number" name="stock" placeholder="Stock" min="0" oninput="validity.valid||(value='');">
                </p>
                <p><!-- Multijugador y habilitado -->
                    <div class="row">
                        <div class="col">
                            <label for="multijugadorJuego">¿Es multijugador? (Online)</label>
                            <br/>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input name="multijugador" type="radio" class="form-check-input" {% if juego.multijugador %} checked {% endif %} value="True">Sí
                                </label>
                              </div>
                              <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input name="multijugador" type="radio" class="form-check-input" {% if not juego.multijugador %} checked {% endif %} value="False">No
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <label for="habilitadoJuego">¿Habilitado para la venta?</label>
                            <br>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="habilitado" {% if juego.habilitado %} checked {% endif %} value="True">Sí
                                </label>
                              </div>
                              <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="habilitado" {% if not juego.habilitado %} checked {% endif %}value="False">No
                                </label>
                            </div>
                        </div>
                    </div>
                </p>
                <p>Clasificación ESRB del juego
                    <select name="esrb" class="form-control" id="esrbJuego" required>
                        <option disabled selected value>- Elija una clasificación -</option>
                        <option {% if juego.esrb == 'E' %} selected {% endif %} value="E">Everyone</option>
                        <option {% if juego.esrb == 'E10' %} selected {% endif %} value="E10">Everyone +10</option>
                        <option {% if juego.esrb == 'T' %} selected {% endif %} value="T">Teen</option>
                        <option {% if juego.esrb == 'M' %} selected {% endif %} value="M">Mature +17</option>
                        <option {% if juego.esrb == 'AO' %} selected {% endif %} value="AO">Adults Only +18</option>
                        <option {% if juego.esrb == 'RP' %} selected {% endif %} value="RP">Rating Pending</option>
                    </select>
                </p>
                <p>Último proveedor del juego
                    <select name="proveedor" id="" class="form-control" required>
                        <option disabled>Seleccione un proveedor</option>
                        {% for proveedor in proveedores %}
                        <option value="{{proveedor.id}}" {% if juego.proveedor.id == proveedor.id %} selected {% endif %}> {{proveedor.id}} - {{proveedor.nombre}}</option>
                        {% endfor %}
                    </select>
                </p>
                <div class="form-row"><!--Géneros del juego-->
                    <!-- Genero -->
                    <div class="col">
                        <label for="generoJuego">Géneros del juego</label>
                        <br>
                        {% for genero in generos %}
                        <input type="checkbox" name="generos" id="option{{genero.id}}" value={{genero.id}} {% if genero in juego.generos.all %} checked {% endif %}/>
                        <label for="option{{genero.id}}"><b>{{genero.nombre}}</b></label><br />
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="form-btns">
                    <button type="submit">Enviar formulario</button>
                    <button type="reset">Limpiar formulario</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contenedor %}